<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sample.user %>
</p>

<p>
  <b>Item:</b>
  <%= @sample.item %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
