  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :class => "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :payment_kind %><br />
    <%= f.text_field :payment_kind %>
  </div>
  <div class="field">
    <%= f.label :credit_card %><br />
    <%= f.text_field :credit_card %>
  </div>
