<!--h1>Editing breakdown</h1-->

<%= form_for @forms_breakdown_front do |f| %>

  <%= render 'form', {:f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', forms_breakdown_front_path(@forms_breakdown_front.id)  %> |
<%= link_to 'Back', forms_breakdown_fronts_path %>
