<!--<h1>New breakdown</h1>-->



  <style>
    .sunday .ui-state-default {
      color: red;
      }
    .saturday .ui-state-default {
      color: blue;
      }
    .holiday .ui-state-default {
      color: red;
      }
  </style>


  <% if @forms_breakdown_front.errors.any? %>
    <div id="error_explanation">
      <h2>
          <%= pluralize(@forms_breakdown_front.errors.count, "error") %>
           prohibited this breakdown from being saved:
      </h2>

      <ul>
      <% @forms_breakdown_front.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @forms_breakdown_front, :url => { :action => 'create' } do |f| %>

  <%= render 'form', {:f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




 <input type="text" id="datepicker" />




<%= link_to 'Back', forms_breakdown_fronts_path %>
